<style>
    .miFuente {
        font-size: calc(0.5em + 1vw);
    }
</style>


<ul class="list-group list-group-flush">
    <li class="list-group-item miFuente" *ngFor="let pedido of pedidoscuenta">
        <div class="row">
            <div class="col-4">
                <strong>
                    <p class="mb-1">#Pedido : {{pedido.IDREQUI}}</p>
                </strong>
            </div>
            <div class="col-4">
                <p class="mb-1"><span
                        [ngClass]="pedido.ESTATUS == 'PENDIENTE' ? 'badge badge-pill badge-warning' : pedido.ESTATUS == 'CANCELADO' ? 'badge badge-pill badge-danger' : 'badge badge-pill badge-success'">{{pedido.ESTATUS}}</span>
                </p>
            </div>
            <div class="col-4">
                <p class="mb-1">TOTAL: MX {{pedido.TOTAL | currency}}</p>
            </div>
        </div>
        <div *ngIf="pedido.OBSERVACIONES != '' && pedido.OBSERVACIONES != null" class="row">
            <div class="col-lg-4 col-sm-4">
                <small>Observaciones : {{pedido.OBSERVACIONES}}</small>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <small>Fecha: {{pedido.FECHA | date: "dd/MM/yyyy"}}</small>
            </div>
            <div class="col-8">
                <small>Entregar En: {{pedido.ENTREGAREN}}</small>
            </div>
        </div>

        <ul class="list-group list-group-flush">
            <li class="list-group-item" *ngFor="let pedidodet of pedido.REQUIDET">
                <div class="row">
                    <div class="col-12">
                        <small>
                            <p class="mb-1">{{pedidodet.NOMBRE}}</p>
                        </small>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <small>Ctd: {{pedidodet.CANTIDAD}} X : MX {{pedidodet.PRECIO | currency}}</small>
                    </div>
                    <div class="col-6">
                        <small>Importe : MX {{pedidodet.IMPORTE | currency}}</small>
                    </div>
                </div>
                <div *ngIf="pedidodet.COMENTARIOS != '' && pedidodet.COMENTARIOS != null" class="row">
                    <small>Comentarios: {{pedidodet.COMENTARIOS}}</small>
                </div>
            </li>

        </ul>
    </li>
</ul>